:root {
  --tab-count: 6;
  --tab-height: 42px;
  --navBar-height: 70px;
  --expanded-navBar-height: 350px;
}

body {
  counter-reset: section sectionLink;
}

#expandBtn {
  display: none;
}

.navBar {
  background-color: var(--dark-background-transparency);
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  padding-bottom: 0;
  height: var(--navBar-height);
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.navBar svg {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.navBar svg polygon {
  color: rgb(var(--accent));
  fill: rgb(var(--background));
  -webkit-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.navBar svg:hover polygon {
  fill: rgb(var(--light-background));
}

.navBar path {
  fill: rgb(var(--accent));
}

.navLinks {
  display: block;
  position: absolute;
  right: 2%;
  opacity: 1;
  height: 100%;
}

.navLinks ol {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  opacity: 1;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navLinks a {
  margin: 0 20px 0 0;
}

.navLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  list-style: decimal-leading-zero;
  cursor: pointer;
  height: auto;
  color: rgb(var(--slate));
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.navLinks li:before {
  position: relative;
  counter-increment: sectionLink;
  content: "0" counter(sectionLink) ".";
  margin-right: 3px;
  color: rgb(var(--accent));
}

.navLinks a:last-child {
  margin-right: 20px;
}

.navLinks a:hover li {
  color: rgb(var(--accent));
}

.navBar button {
  display: inline-block;
  font-family: var(--font-mono);
  padding: 10px 20px 10px 20px;
}

.expand {
  display: none;
}

.left-side {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 2%;
}

.platform-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: rgb(var(--secondary-accent));
}

.platform-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.platform-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s linear;
  transition: color 0.2s ease-in-out, -webkit-transform 0.2s linear;
  -o-transition: color 0.2s ease-in-out, transform 0.2s linear;
  transition: color 0.2s ease-in-out, transform 0.2s linear;
  transition: color 0.2s ease-in-out, transform 0.2s linear, -webkit-transform 0.2s linear;
  transition: color 0.2s ease-in-out, transform 0.2s linear,
    -webkit-transform 0.2s linear;
}

.platform-links li:hover {
  color: rgb(var(--accent));
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.platform-links a {
  padding: 5px;
  margin: 10px;
}

.platform-links svg {
  display: block;
  width: 20px;
  height: 20px;
}

.platform-links:after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: rgb(var(--secondary-accent));
}

.right-side {
  width: 40px;
  position: fixed;
  bottom: 0;
  right: 2%;
}

.email-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: rgb(var(--secondary-accent));
}

.email-link a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s linear;
  transition: color 0.2s ease-in-out, -webkit-transform 0.2s linear;
  -o-transition: color 0.2s ease-in-out, transform 0.2s linear;
  transition: color 0.2s ease-in-out, transform 0.2s linear;
  transition: color 0.2s ease-in-out, transform 0.2s linear, -webkit-transform 0.2s linear;
  transition: color 0.2s ease-in-out, transform 0.2s linear,
    -webkit-transform 0.2s linear;
}

.email-link a:hover {
  color: rgb(var(--accent));
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.email-link:after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: rgb(var(--secondary-accent));
}

.mainContent {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - var(--navBar-height));
  max-width: 1600px;
  min-height: calc(100% - var(--navBar-height));
  padding: 0 150px;
  -webkit-transition: margin-top 0.25s;
  -o-transition: margin-top 0.25s;
  transition: margin-top 0.25s;
}

.mainContent h4 {
  color: rgb(var(--accent));
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
  margin-top: 0;
}

.mainContent h4::-moz-selection {
  color: rgb(var(--light-slate));
}

.mainContent h4::selection {
  color: rgb(var(--light-slate));
}

.mainContent h1,
h2 {
  font-size: clamp(40px, 8vw, 80px);
  margin: 0;
}

.mainContent h1 {
  color: rgb(var(--lightest-slate));
}

.mainContent h2 {
  color: rgb(var(--light-slate));
}

.mainContent p {
  color: rgb(var(--slate));
  padding-bottom: 20px;
}

.mainContent h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-subheading));
  color: rgb(var(--secondary-accent));
  white-space: nowrap;
}

.mainContent h3:before {
  position: relative;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: rgb(var(--secondary-accent));
  font-size: clamp(26px, 5vw, var(--fz-subheading));
  white-space: nowrap;
}

.mainContent h3:after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: rgb(var(--secondary-accent));
}

.mainContent section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: calc(100vh - var(--navBar-height));
  padding-top: var(--navBar-height);
}

.mainContent ul {
  overflow: hidden;
  list-style: none;
}

.mainContent ul li {
  color: rgb(var(--secondary-accent));
  position: relative;
  padding-left: 30px;
}

.mainContent ul li:before {
  position: absolute;
  display: block;
  left: 0px;
  content: "\25B9";
  font-size: 30px;
  color: rgb(var(--accent));
}

.intro {
  padding-bottom: 150px;
  max-width: 1000px;
}

.intro p {
  max-width: 540px;
}

.intro button {
  padding: 20px 50px;
}

.aboutMe {
  max-width: 900px;
  padding-bottom: 50px;
}

.aboutMeContent {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50px 320px;
  grid-template-columns: auto 320px;
  grid-column-gap: 50px;
}

.aboutMeText p {
  margin-top: 0;
}

.aboutMeContent ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 10px 50%;
  grid-template-columns: repeat(2, 50%);
  gap: 0 10px;
  padding: 0;
}

.aboutMeText ul li {
  margin-bottom: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  line-height: 30px;
}

.selfieWrapper {
  width: 320px;
  height: 320px;
  position: relative;
}

.tint {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgb(var(--accent));
  border-radius: var(--border-radius);
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.selfieWrapper .tint:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  z-index: -1;
  border: 3px solid rgb(var(--secondary-accent));
  border-radius: var(--border-radius);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%) contrast(1);
  filter: grayscale(100%) contrast(1);
}

img:hover {
  -webkit-filter: none;
  filter: none;
}

.tint:hover {
  background: #fff;
}

.tint:hover:after {
  top: 15px;
  left: 15px;
}

.exp {
  max-width: 700px;
  height: 100%;
  padding-bottom: 100px;
}

.exp h3:after {
  width: 100%;
}

.tabbed-pane {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(var(--tab-count) * var(--tab-height));
}

.tabbed-pane-inner {
  position: relative;
}

.tabbed-pane-inner button {
  display: none;
}

.slider {
  content: "";
  position: absolute;
  height: calc(100% / var(--tab-count));
  width: 3px;
  left: 0;
  top: 0;
  background-color: rgb(var(--accent));
  -webkit-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  -webkit-transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
}

.border {
  content: "";
  height: calc(var(--tab-height) * var(--tab-count));
  width: 3px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(var(--light-background));
}

.exp label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--tab-height);
  width: 100%;
  color: rgb(var(--dark-slate));
  cursor: pointer;
  padding: 0 20px 0 20px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.exp label:hover {
  background-color: var(--accent-tint);
}

.exp input {
  display: none;
}

.exp input:checked + label {
  color: rgb(var(--secondary-accent));
}

.exp input#tab1:checked ~ .slider {
  top: calc(0 * var(--tab-height));
}

.exp input#tab2:checked ~ .slider {
  top: calc(1 * var(--tab-height));
}

.exp input#tab3:checked ~ .slider {
  top: calc(2 * var(--tab-height));
}

.exp input#tab4:checked ~ .slider {
  top: calc(3 * var(--tab-height));
}

.exp input#tab5:checked ~ .slider {
  top: calc(4 * var(--tab-height));
}

.exp input#tab6:checked ~ .slider {
  top: calc(5 * var(--tab-height));
}

.job-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.job {
  display: none;
  position: relative;
  padding: 5px 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  color: rgb(var(--accent));
}

.job h3:before {
  display: none;
}

.job h3 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: var(--fz-xxl);
  font-weight: 500;
  line-height: 1.3;
}

.job h3:after {
  display: none;
}

.company {
  color: rgb(var(--accent));
}

.job a {
  position: relative;
  color: rgb(var(--accent));
  overflow: hidden;
}

.job a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgb(var(--accent));
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.job a:focus::after,
.job a:hover::after {
  width: 100%;
}

.job h4 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0;
  position: relative;
  display: block;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  color: rgb(var(--slate));
}

.job ul {
  display: block;
  position: relative;
}

.job ul li {
  color: rgb(var(--dark-slate));
  font-size: var(--fz-lg);
  padding-bottom: 5px;
}

.job ul li:before {
  margin-top: -6px;
}

.projects {
  max-width: 1000px;
}

.projectShowcase {
  display: block;
  width: 100%;
}

.projectContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.projectPicWrapper {
  width: 70%;
  aspect-ratio: 16 / 10;
  position: relative;
  -webkit-box-shadow: 0 20px 30px -30px black;
          box-shadow: 0 20px 30px -30px black;
  z-index: 1;
}

.projectDescription {
  position: relative;
  display: block;
  width: 50%;
  z-index: 2;
  margin: auto 0;
}

.projectDescription h4 {
  display: inline-block;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  color: rgb(var(--accent));
  margin: 0;
}

.projectDescription h3 {
  display: inline-block;
  margin: 0;
  font-size: clamp(26px, 5vw, var(--fz-subheading));
  color: rgb(var(--lightest-slate));
  white-space: nowrap;
}

.projectDescription h3:before {
  display: none;
}

.projectDescription h3:after {
  display: none;
}

.projectDescription p {
  position: relative;
  width: 120%;
  background-color: rgb(var(--light-background));
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 0;
  font-size: var(--fz-md);
}

.projectDescription:nth-of-type(even) {
  text-align: right;
}

.projectDescription:nth-of-type(odd) {
  text-align: left;
}

.projectContainer:nth-of-type(odd) .projectDescription p {
  right: 20%;
}

.projectDescription ol {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  font-size: var(--fz-sm);
}

.projectDescription li {
  position: relative;
  display: inline-block;
  color: rgb(var(--slate));
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  padding-right: 10px;
}

.projectDescription li:last-of-type {
  padding-right: 0;
}

.contact {
  max-width: 600px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.contact h3:before {
  color: rgb(var(--accent));
  font-size: var(--fz-md);
}

.contact h3 {
  display: block;
  color: rgb(var(--accent));
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  text-align: center;
  margin-bottom: 15px;
}

.contact h3:after {
  display: none;
}

.contact h1 {
  font-size: clamp(40px, 4.5vw, 80px);
  margin-left: auto;
  margin-right: auto;
}

.contact p {
  margin: 0 auto;
  text-align: center;
}

.contact button {
  margin: 30px auto;
  padding: 20px 30px;
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
}

@media only screen and (max-width: 1080px) {
  .mainContent {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1050px) {
  .mainContent h3:after {
    width: 100%;
  }

  .aboutMeContent {
    height: auto;
    width: 100%;
    display: block;
  }

  .selfieWrapper {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .noTransition {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  .right-side {
    display: none;
  }

  .left-side {
    display: none;
  }

  .navBar {
    -webkit-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
  }

  .navBar svg {
    -webkit-transform: translateY(-22.5px);
    -ms-transform: translateY(-22.5px);
    transform: translateY(-22.5px);
    top: 35px;
  }

  .navLinks {
    display: none;
    height: 0;
    position: relative;
    width: 100%;
    left: 0;
    top: var(--navBar-height);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    z-index: 10;
  }

  .navLinks ol {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .navLinks button {
    display: none;
  }

  .navLinks a {
    display: none;
    height: 0;
    border-bottom: 1px solid var(--accent-tint);
    padding-left: 2%;
    margin: 0;
    -webkit-transition: background-color 0.5s ease-in-out,
      color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  .navLinks a:hover {
    background-color: var(--accent-tint);
  }

  .navLinks li {
    display: none;
    height: 0;
    list-style-position: inside;
  }

  .expand {
    display: block;
    width: 32px;
    height: 24px;
    position: absolute;
    left: auto;
    right: 2%;
    top: 35px;
    -webkit-transform: translate(0, -12px);
    -ms-transform: translate(0, -12px);
    transform: translate(0, -12px);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .expand span {
    display: block;
    position: absolute;
    height: 3px;
    background: rgb(var(--accent));
    left: auto;
    right: 0;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .expand span:nth-child(1) {
    top: 0;
    width: 100%;
  }

  .expand span:nth-child(2) {
    display: block;
    top: 50%;
    width: 70%;
  }

  .expand span:nth-child(3) {
    top: 100%;
    width: 40%;
  }

  #expandBtn:checked + .expand span:nth-child(1) {
    width: 100%;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #expandBtn:checked + .expand span:nth-child(2) {
    width: 0%;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity: 1;
  }

  #expandBtn:checked + .expand span:nth-child(3) {
    width: 100%;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #expandBtn:checked ~ .navLinks {
    display: block;
    height: 80%;
  }

  #expandBtn:checked ~ .navLinks ol {
    display: block;
    height: 100%;
  }

  #expandBtn:checked ~ .navLinks ol a {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25%;
  }

  #expandBtn:checked ~ .navLinks ol a li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }

  .selfieWrapper {
    width: 250px;
    height: 250px;
  }

  .mainContent {
    padding: 0 50px;
  }

  .projectPicWrapper {
    -webkit-box-shadow: 0 10px 30px -30px black;
            box-shadow: 0 10px 30px -30px black;
    width: 100%;
  }

  .projectPicWrapper .tint {
    background: rgb(var(--light-background));
    pointer-events: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .projectPicWrapper .tint img {
    -webkit-filter: none;
    filter: none;
  }

  .projectContainer .projectDescription {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: left;
    padding: 40px;
  }

  .projectDescription p {
    background-color: inherit;
    border-radius: 0;
    padding: 0;
    width: 100%;
  }
   
  .projectDescription ol {
    padding: 5px 0;
  }

  .projectContainer:nth-of-type(odd) .projectDescription p {
    right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .tabbed-pane {
    display: block;
    width: 100%;
    height: calc((var(--tab-count) + 2) * var(--tab-height));
  }

  .tabbed-pane-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .tabbed-pane-inner button {
    position: absolute;
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    width: var(--tab-height);
    height: var(--tab-height);
  }

  .tabbed-pane-inner button:hover {
    background-color: transparent;
  }

  #back {
    left: 0;
    right: auto;
  }

  #next {
    left: auto;
    right: 0;
  }

  .tabbed-pane-inner svg {
    width: 50%;
    height: 50%;
  }

  .tabbed-pane-inner button:enabled svg {
    color: rgb(var(--secondary-accent));
    transition: color ease-in-out 0.2s;
  }

  .tabbed-pane-inner button:enabled:hover svg {
    color: rgb(var(--accent));
  }

  .tabbed-pane-inner button:disabled svg {
    color: rgb(var(--light-background));
  }

  .tabbed-pane-inner button:disabled {
    cursor: auto;
  }

  .tabbed-pane-inner label {
    display: none;
    justify-content:center;
    align-items:center;
    cursor: auto;
  }
  
  .tabbed-pane-inner label:hover {
    background-color: transparent;
  }

  .tabbed-pane-inner input:checked+label {
    display: flex;
    left: var(--tab-height);
    right: var(--tab-height);
    width: calc(100% - 2*var(--tab-height));
    padding: 10px 20px;
    color: rgb(var(--accent));
  }

  .border {
    display: none;
  }

  .slider {
    display: none;
  }

  .exp input#tab1:checked ~ .slider {
    top: var(--tab-height);
    left: calc(0 * (100% / var(--tab-count)));
  }

  .job-container {
    top: var(--tab-height);
  }
  
  .projectContainer .projectDescription {
    padding: 10px 15px;
  }
}
